<!DOCTYPE html>
<html>
	<head>
		{%load static%}
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>List Your Car</title>

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png'%}" />

		<link href="{% static 'css/master.css' %}" rel="stylesheet">

		<!-- SWITCHER -->
		<link rel="stylesheet" id="switcher-css" type="text/css" href="{%static 'assets/switcher/css/switcher.css' %}" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color1.css' %}" title="color1" media="all" data-default-color="true" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color2.css' %}" title="color2" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color3.css'%}" title="color3" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color4.css'%}" title="color4" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color5.css'%}" title="color5" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color6.css'%}" title="color6" media="all" />


		  
<script type="text/javascript">

var regiondb = new Object()

regiondb["Maserati"] = [{value:"Ghibli", text:"Ghibli"},{value:"Gran Cabrio", text:"Gran Cabrio"},{value:"Gran Turismo", text:"Gran Turismo"},{value:"Quattroporte", text:"Quattroporte"}];
regiondb["Chevrolet"] = [{value:"Beat", text:"Beat"},{value:"Cruze", text:"Cruze"},{value:"Enjoy", text:"Enjoy"},{value:"Sail", text:"Sail"},{value:"Sail Hatchback", text:"Sail Hatchback"},{value:"Spark", text:"Spark"},{value:"Tavera", text:"Tavera"},{value:"Trailblazer", text:"Trailblazer"}];
regiondb["Porsche"] = [{value:"911", text:"911"},{value:"Boxster", text:"Boxster"},{value:"Cayenne", text:"Cayenne"},{value:"Cayman", text:"Cayman"},{value:"Macan", text:"Macan"},{value:"Panamera", text:"Panamera"}];
regiondb["Tata"] = [{value:"Aria", text:"Aria"},{value:"Bolt", text:"Bolt"},{value:"Indica eV2", text:"Indica eV2"},{value:"Indigo eCS", text:"Indigo eCS"},{value:"Nano", text:"Nano"},{value:"Safari", text:"Safari"},{value:"Safari Storme", text:"Safari Storme"},{value:"Sumo", text:"Sumo"},{value:"Tiago", text:"Tiago"},{value:"Xenon XT", text:"Xenon XT"},{value:"Zest", text:"Zest"}];
regiondb["DC"] = [{value:"Avanti", text:"Avanti"}];
regiondb["Maruti"] = [{value:"Alto 800", text:"Alto 800"},{value:"Alto K10", text:"Alto K10"},{value:"Baleno", text:"Baleno"},{value:"Celerio", text:"Celerio"},{value:"Ciaz", text:"Ciaz"},{value:"Eeco", text:"Eeco"},{value:"Ertiga", text:"Ertiga"},{value:"Gypsy", text:"Gypsy"},{value:"Omni", text:"Omni"},{value:"Ritz", text:"Ritz"},{value:"Swift", text:"Swift"},{value:"Swift Dzire", text:"Swift Dzire"},{value:"S-Cross", text:"S-Cross"},{value:"Vitara Brezza", text:"Vitara Brezza"},{value:"Wagon R", text:"Wagon R"},{value:"Wagon R Stingray", text:"Wagon R Stingray"}];
regiondb["Mercedes-Benz"] = [{value:"A-Class", text:"A-Class"},{value:"AMG GT", text:"AMG GT"},{value:"B-Class", text:"B-Class"},{value:"CLA", text:"CLA"},{value:"CLS", text:"CLS"},{value:"E-Class", text:"E-Class"},{value:"G-Class", text:"G-Class"},{value:"GL-Class", text:"GL-Class"},{value:"GLA 45 AMG", text:"GLA 45 AMG"},{value:"GLA Class", text:"GLA Class"},{value:"GLC", text:"GLC"},{value:"GLE", text:"GLE"},{value:"GLS", text:"GLS"},{value:"M-Class", text:"M-Class"},{value:"C-Class", text:"C-Class"},{value:"S-Class", text:"S-Class"},{value:"SLC", text:"SLC"}];
regiondb["Ford"] = [{value:"EcoSport", text:"EcoSport"},{value:"Endeavour", text:"Endeavour"},{value:"Figo", text:"Figo"},{value:"Aspire", text:"Aspire"},{value:"Mustang", text:"Mustang"}];
regiondb["Rolls-Royce"] = [{value:"Dawn", text:"Dawn"},{value:"Ghost", text:"Ghost"},{value:"Phantom", text:"Phantom"},{value:"Wraith", text:"Wraith"}];
regiondb["Isuzu"] = [{value:"D-Max V-Cross", text:"D-Max V-Cross"},{value:"MU 7", text:"MU 7"}];
regiondb["Honda"] = [{value:"Amaze", text:"Amaze"},{value:"BRV", text:"BRV"},{value:"Brio", text:"Brio"},{value:"City", text:"City"},{value:"CR-V", text:"CR-V"},{value:"Jazz", text:"Jazz"},{value:"Mobilio", text:"Mobilio"}];
regiondb["Hyundai"] = [{value:"Creta", text:"Creta"},{value:"Elantra", text:"Elantra"},{value:"EON", text:"EON"},{value:"Grand i10", text:"Grand i10"},{value:"i10", text:"i10"},{value:"Elite i20", text:"Elite i20"},{value:"i20 Active", text:"i20 Active"},{value:"Santa Fe", text:"Santa Fe"},{value:"Verna", text:"Verna"},{value:"Xcent", text:"Xcent"}];
regiondb["Volkswagen"] = [{value:"Ameo", text:"Ameo"},{value:"Beetle", text:"Beetle"},{value:"CrossPolo", text:"CrossPolo"},{value:"Jetta", text:"Jetta"},{value:"Polo", text:"Polo"},{value:"Vento", text:"Vento"}];
regiondb["Land Rover"] = [{value:"Discovery 4", text:"Discovery 4"},{value:"Discovery Sport", text:"Discovery Sport"},{value:"Range Rover", text:"Range Rover"},{value:"Range Rover Evoque", text:"Range Rover Evoque"},{value:"Range Rover Sport", text:"Range Rover Sport"}];
regiondb["Datsun"] = [{value:"GO", text:"GO"},{value:"GO Plus", text:"GO Plus"},{value:"Redi GO", text:"Redi GO"}];
regiondb["Mitsubishi"] = [{value:"Pajero Sport", text:"Pajero Sport"}];
regiondb["BMW"] = [{value:"1 Series", text:"1 Series"},{value:"3 Series", text:"3 Series"},{value:"5 Series", text:"5 Series"},{value:"6 Series", text:"6 Series"},{value:"7 Series", text:"7 Series"},{value:"i8", text:"i8"},{value:"M Series", text:"M Series"},{value:"X1", text:"X1"},{value:"X3", text:"X3"},{value:"X5", text:"X5"},{value:"X6", text:"X6"},{value:"Z4", text:"Z4"}];
regiondb["Fiat"] = [{value:"500", text:"500"},{value:"Abarth Avventura", text:"Abarth Avventura"},{value:"Avventura", text:"Avventura"},{value:"Avventura Urban Cross", text:"Avventura Urban Cross"},{value:"Punto EVO", text:"Punto EVO"},{value:"Linea", text:"Linea"},{value:"Linea Classic", text:"Linea Classic"},{value:"Abarth Punto", text:"Abarth Punto"},{value:"Punto Pure", text:"Punto Pure"}];
regiondb["Lamborghini"] = [{value:"Aventador", text:"Aventador"},{value:"Huracan", text:"Huracan"}];
regiondb["Jaguar"] = [{value:"F-Type", text:"F-Type"},{value:"XE", text:"XE"},{value:"XF", text:"XF"},{value:"XJ", text:"XJ"}];
regiondb["Renault"] = [{value:"Duster", text:"Duster"},{value:"KWID", text:"KWID"},{value:"Lodgy", text:"Lodgy"},{value:"Pulse", text:"Pulse"},{value:"Scala", text:"Scala"}];
regiondb["ICML"] = [{value:"Extreme", text:"Extreme"}];
regiondb["Jeep"] = [{value:"Grand Cherokee", text:"Grand Cherokee"},{value:"Wrangler Unlimited", text:"Wrangler Unlimited"}];
regiondb["Aston Martin"] = [{value:"DB11", text:"DB11"},{value:"Rapide", text:"Rapide"},{value:"Vanquish", text:"Vanquish"},{value:"Vantage", text:"Vantage"}];
regiondb["Nissan"] = [{value:"Micra Active", text:"Micra Active"},{value:"Micra", text:"Micra"},{value:"Sunny", text:"Sunny"},{value:"Terrano", text:"Terrano"}];
regiondb["Toyota"] = [{value:"Camry", text:"Camry"},{value:"Corolla Altis", text:"Corolla Altis"},{value:"Platinum Etios", text:"Platinum Etios"},{value:"Etios Cross", text:"Etios Cross"},{value:"Etios Liva", text:"Etios Liva"},{value:"Fortuner", text:"Fortuner"},{value:"Innova", text:"Innova"},{value:"Innova Crysta", text:"Innova Crysta"},{value:"Land Cruiser", text:"Land Cruiser"},{value:"Land Cruiser Prado", text:"Land Cruiser Prado"},{value:"Prius", text:"Prius"}];
regiondb["Mahindra"] = [{value:"Bolero", text:"Bolero"},{value:"E Verito", text:"E Verito"},{value:"e2o", text:"e2o"},{value:"KUV100", text:"KUV100"},{value:"NuvoSport", text:"NuvoSport"},{value:"Quanto", text:"Quanto"},{value:"Scorpio", text:"Scorpio"},{value:"Supro", text:"Supro"},{value:"Thar", text:"Thar"},{value:"TUV 300", text:"TUV 300"},{value:"Verito", text:"Verito"},{value:"Verito Vibe", text:"Verito Vibe"},{value:"XUV500", text:"XUV500"},{value:"Xylo", text:"Xylo"}];
regiondb["Volvo"] = [{value:"S80", text:"S80"},{value:"S60 Cross Country", text:"S60 Cross Country"},{value:"S60", text:"S60"},{value:"V40 Cross Country", text:"V40 Cross Country"},{value:"V40", text:"V40"},{value:"XC90", text:"XC90"},{value:"XC60", text:"XC60"}];
regiondb["Ferrari"] = [{value:"458 Speciale", text:"458 Speciale"},{value:"488", text:"488"},{value:"California T", text:"California T"},{value:"F12berlinetta", text:"F12berlinetta"},{value:"FF", text:"FF"}];
regiondb["Mahindra Ssangyong"] = [{value:"Rexton", text:"Rexton"}];
regiondb["Mini"] = [{value:"3 DOOR", text:"3 DOOR"},{value:"5 DOOR", text:"5 DOOR"},{value:"Cooper Convertible", text:"Cooper Convertible"},{value:"Countryman", text:"Countryman"}];
regiondb["Force"] = [{value:"Gurkha", text:"Gurkha"},{value:"One SUV", text:"One SUV"}];
regiondb["Bentley"] = [{value:"Bentayga", text:"Bentayga"},{value:"Continental", text:"Continental"},{value:"Flying Spur", text:"Flying Spur"},{value:"Mulsanne", text:"Mulsanne"}];
regiondb["Skoda"] = [{value:"Octavia", text:"Octavia"},{value:"Rapid", text:"Rapid"},{value:"Superb", text:"Superb"},{value:"Yeti", text:"Yeti"}];
regiondb["Conquest"] = [{value:"Evade", text:"Evade"}];
regiondb["Premier"] = [{value:"Rio", text:"Rio"}];
regiondb["Bugatti"] = [{value:"Veyron", text:"Veyron"}];
regiondb["Audi"] = [{value:"A3", text:"A3"},{value:"A3 cabriolet", text:"A3 cabriolet"},{value:"A4", text:"A4"},{value:"A6", text:"A6"},{value:"A8", text:"A8"},{value:"Q3", text:"Q3"},{value:"Q5", text:"Q5"},{value:"Q7", text:"Q7"},{value:"R8", text:"R8"},{value:"RS6 Avant", text:"RS6 Avant"},{value:"RS7", text:"RS7"},{value:"S5", text:"S5"},{value:"TT", text:"TT"}];


function setCities(chooser) {
    var newElem;
    var where = (navigator.appName == "Microsoft Internet Explorer") ? -1 : null;
    var cityChooser = chooser.form.elements["name"];
    while (cityChooser.options.length) {
        cityChooser.remove(0);
    }
    var choice = chooser.options[chooser.selectedIndex].value;
    var db = regiondb[choice];
    newElem = document.createElement("option");

    if (choice != "") {
        for (var i = 0; i < db.length; i++) {
            newElem = document.createElement("option");
            newElem.text = db[i].text;
            newElem.value = db[i].value;
            cityChooser.add(newElem, where);
        }
    }
    newElem.text = "Other";
    newElem.value = "cus";
    cityChooser.add(newElem, where);
}

function check(chooser) {
    var newElem;
    var where = (navigator.appName == "Microsoft Internet Explorer") ? -1 : null;
    var choice = chooser.options[chooser.selectedIndex].value;
    if (choice == "cus") {
      document.getElementById("mod").click()
    
    var cityChooser = chooser.form.elements["name"];
    while (cityChooser.options.length) {
        	cityChooser.remove(0);
    }
    newElem = document.createElement("option");
	newElem.text = "Other";
    newElem.value = "blah";
    newElem.id = "chos";
    cityChooser.add(newElem, where);
    }

}

function feat(){
	document.getElementById("close").click();
	document.getElementById("chos").value = document.getElementById("ex").value;
	document.getElementById("chos").text = document.getElementById("ex").value;

}

</script>
		<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body class="m-submit1" data-scrolling-animations="true">

		<!-- Loader -->
		<div id="page-preloader"><span class="spinner"></span></div>
		<!-- Loader end -->
		<!-- Start Switcher -->
		<div class="switcher-wrapper">	
			<div class="demo_changer">
				<div class="demo-icon customBgColor"><i class="fa fa-cog fa-spin fa-2x"></i></div>
				<div class="form_holder">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="predefined_styles">
								<div class="skin-theme-switcher">
									<h4>Color</h4>
									<a href="#" data-switchcolor="color1" class="styleswitch" style="background-color:#f76d2b;"> </a>
									<a href="#" data-switchcolor="color2" class="styleswitch" style="background-color:#de483d;"> </a>
									<a href="#" data-switchcolor="color3" class="styleswitch" style="background-color:#228dcb;"> </a>
									<a href="#" data-switchcolor="color4" class="styleswitch" style="background-color:#00bff3;"> </a>
									<a href="#" data-switchcolor="color5" class="styleswitch" style="background-color:#2dcc70;"> </a>
									<a href="#" data-switchcolor="color6" class="styleswitch" style="background-color:#6054c2;"> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Switcher -->

		<header class="b-topBar wow slideInDown" data-wow-delay="0.7s">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="b-topBar__addr">
							<span class="fa fa-map-marker"></span>
							College Of Engineering Chengannur
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="b-topBar__tel">
							<span class="fa fa-phone"></span>
							+91 9562854642
						</div>
					</div>
					<div class="col-md-4 col-xs-6">
						<nav class="b-topBar__nav">
							<ul>
								{%if name == null%}
								<li><a href="#" style ="color:black" data-toggle="modal" data-target="#myModal1" id="signin_top">SIGN IN</a></li>
								<li><a href="#" style ="color:black" data-toggle="modal" data-target="#myModal2" id="register_top">REGISTER</a></li>		
								<li><a href="#" style ="visibility: hidden;" data-toggle="modal" data-target="#myModal3" id="forgot_top"></a></li>		
								<li><a href="#" style ="visibility: hidden;" data-toggle="modal" data-target="#myModal4" id="change_top"></a></li>		
								{%endif%}
								{%if name != null%}
								<li><a href="/auth/logout" style ="color:black">Logout</a></li>
								<li><a href="#" style ="color:black">Welcome Back {{name}}</a></li>
								{%endif%}
							</ul>
						</nav>
					</div>
					
				</div>
			</div>
			<button class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.3s"  id="mod" data-toggle="modal" data-target="#myModal1" style="visibility: False;"></button>
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									<div class="modal-dialog" role="document">
										<div class="modal-content modal-info">
											<div class="modal-header">
												<button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
											</div>
											<div class="modal-body modal-spa">
												<div class="login-grids">
												
														<div class="login-right">
																	{% csrf_token %}
																<h3>Enter Vehicle Name </h3>
																<br>						
  																	<input class="form-control" style="color: black" id = "ex" type="text" placeholder="Enter Features">
																<br>  			
																<h5><a href='javascript:;' onclick='feat();'>Save Name</a> </h5>
														</div>
												</div>
											</div>
										</div>
									</div>
								</div>

		</header><!--b-topBar-->

			<nav class="b-nav">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-4">
						<div class="b-nav__logo wow slideInLeft" data-wow-delay="0.3s">
							<h3><a href="/home">Zen<span>Cars</span></a></h3>
							<h2><a href="/home">&nbsp Find Your Dream</a></h2>
						</div>
					</div>
					<div class="col-sm-9 col-xs-8">
						<div class="b-nav__list wow slideInRight" data-wow-delay="0.3s">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse navbar-main-slide" id="nav">
								<ul class="navbar-nav-menu">
									<li><a href="/home">Home</a></li>
									{%if name != null%}
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle='dropdown' href="#">Account<span class="fa fa-caret-down"></span></a>
										<ul class="dropdown-menu h-nav">
											<li><a href="/auth/details">Details</a></li>
											<li><a href="/auth/view?type=sell">View Listed Cars</a></li>
											<li><a href="/auth/view?type=sold">View Sold Cars</a></li>
											<li><a href="/car/add">Add Car</a></li>
										</ul>
									</li>
									{%endif%}
									<li><a href="/blog/list?category=tip">Blog</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/contact">Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav><!--b-nav-->

		<section class="b-pageHeader">
			<div class="container">
				<h1 class="wow zoomInLeft" data-wow-delay="0.5s">Submit Your Vehicle</h1>
				<div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
					<h3>Add Your Vehicle In Our Listings</h3>
				</div>
			</div>
		</section><!--b-pageHeader-->

		<div class="b-breadCumbs s-shadow">
			<div class="container wow zoomInUp" data-wow-delay="0.5s">
				<a href="/home" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a href="#" class="b-breadCumbs__page m-active">Submit a Vehicle</a>
			</div>
		</div><!--b-breadCumbs-->

		<div class="b-infoBar">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
						<div class="b-infoBar__progress wow zoomInUp" data-wow-delay="0.5s">
							<div class="b-infoBar__progress-line clearfix">
								<div class="b-infoBar__progress-line-step">
									<div class="b-infoBar__progress-line-step-circle">
										<div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
									</div>
								</div>
								<div class="b-infoBar__progress-line-step">
									<div class="b-infoBar__progress-line-step-circle">
										<div class="b-infoBar__progress-line-step-circle-inner"></div>
									</div>
								</div>
								<div class="b-infoBar__progress-line-step">
									<div class="b-infoBar__progress-line-step-circle">
										<div class="b-infoBar__progress-line-step-circle-inner"></div>
									</div>
								</div>
								<div class="b-infoBar__progress-line-step">
									<div class="b-infoBar__progress-line-step-circle">
										<div class="b-infoBar__progress-line-step-circle-inner"></div>
									</div>
									<div class="b-infoBar__progress-line-step-circle m-last">
										<div class="b-infoBar__progress-line-step-circle-inner"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--b-infoBar-->

		<div class="b-submit">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
						<aside class="b-submit__aside">
							<div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
								<h3>Step 1</h3>
								<div class="b-submit__aside-step-inner m-active clearfix">
									<div class="b-submit__aside-step-inner-icon">
										<span class="fa fa-car"></span>
									</div>
									<div class="b-submit__aside-step-inner-info">
										<h4>Add YOUR Vehicle</h4>
										<p>Select your vehicle &amp; add info</p>
										<div class="b-submit__aside-step-inner-info-triangle"></div>
									</div>
								</div>
							</div>
							<div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
								<h3>Step 2</h3>
								<div class="b-submit__aside-step-inner clearfix">
									<div class="b-submit__aside-step-inner-icon">
										<span class="fa fa-list-ul"></span>
									</div>
									<div class="b-submit__aside-step-inner-info">
										<h4>select details</h4>
										<p>Choose vehicle specifications</p>
									</div>
								</div>
							</div>
							<div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
								<h3>Step 3</h3>
								<div class="b-submit__aside-step-inner clearfix">
									<div class="b-submit__aside-step-inner-icon">
										<span class="fa fa-photo"></span>
									</div>
									<div class="b-submit__aside-step-inner-info">
										<h4>Photos &amp; videos</h4>
										<p>Add images / videos of vehicle</p>
									</div>
								</div>
							</div>
							<div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
								<h3>Step 4</h3>
								<div class="b-submit__aside-step-inner clearfix">
									<div class="b-submit__aside-step-inner-icon">
										<span class="fa fa-user"></span>
									</div>
									<div class="b-submit__aside-step-inner-info">
										<h4>Contact details</h4>
										<p>Add/Confirm Contact Details</p>
									</div>
								</div>
							</div>
							<div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
								<h3>Step 5</h3>
								<div class="b-submit__aside-step-inner clearfix">
									<div class="b-submit__aside-step-inner-icon">
										<span class="fa fa-globe"></span>
									</div>
									<div class="b-submit__aside-step-inner-info">
										<h4>SUBMIT &amp; PUBLISH</h4>
										<p>View Terms and Publish</p>
									</div>
								</div>
							</div>
						</aside>
					</div>
					<div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
						<div class="b-submit__main">
							<header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
								<h2 class="">Add Your Vehicle Details</h2>
							</header>
							<form class="s-submit clearfix" action="/car/processnew" method="GET">
								<div class="row">
									<div class="col-md-6 col-xs-12">
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Enter Make <span>*</span></label>
											<div class='s-relative'>
												<select id="model" class="m-select" required ="" name="brand" onchange="setCities(this)">
													<option value="Maserati">Maserati</option>
													<option value="Chevrolet">Chevrolet</option>
													<option value="Porsche">Porsche</option>
													<option value="Tata">Tata</option>
													<option value="DC">DC</option>
													<option value="Maruti">Maruti</option>
													<option value="Mercedes-Benz">Mercedes-Benz</option>
													<option value="Ford">Ford</option>
													<option value="Rolls-Royce">Rolls-Royce</option>
													<option value="Isuzu">Isuzu</option>
													<option value="Honda">Honda</option>
													<option value="Hyundai">Hyundai</option>
													<option value="Volkswagen">Volkswagen</option>
													<option value="Land Rover">Land Rover</option>
													<option value="Datsun">Datsun</option>
													<option value="Mitsubishi">Mitsubishi</option>
													<option value="BMW">BMW</option>
													<option value="Fiat">Fiat</option>
													<option value="Lamborghini">Lamborghini</option>
													<option value="Jaguar">Jaguar</option>
													<option value="Renault">Renault</option>
													<option value="ICML">ICML</option>
													<option value="Jeep">Jeep</option>
													<option value="Aston Martin">Aston Martin</option>
													<option value="Nissan">Nissan</option>
													<option value="Toyota">Toyota</option>
													<option value="Mahindra">Mahindra</option>
													<option value="Volvo">Volvo</option>
													<option value="Ferrari">Ferrari</option>
													<option value="Mahindra Ssangyong">Mahindra Ssangyong</option>
													<option value="Mini">Mini</option>
													<option value="Force">Force</option>
													<option value="Bentley">Bentley</option>
													<option value="Skoda">Skoda</option>
													<option value="Conquest">Conquest</option>
													<option value="Premier">Premier</option>
													<option value="Bugatti">Bugatti</option>
													<option value="Audi">Audi</option>
												</select>
												<span class="fa fa-caret-down"></span>
											</div>
										</div>
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Vehicle Manufacturer Year<span>*</span></label>
											<div class='s-relative'>
													<input type="text" required="" placeholder="Enter year" name="year" />
											</div>
										</div>
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Select Fuel Type <span>*</span></label>
											<div class='s-relative'>
												<select class="m-select" name="fuel">
													<option>Diesel</option>
													<option>Petrol</option>
													<option>CNG</option>
													<option>Hybrid</option>
												</select>
												<span class="fa fa-caret-down"></span>
											</div>
										</div>
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Enter Average Milege Of Vehicle<span>*</span></label>
											<div class='s-relative'>
													<input type="text" required="" placeholder="Enter Milege" name="milege" />
										</div></div>
									</div>
									<div class="col-md-6 col-xs-12">
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Enter Vehicle Model <span>*</span></label>
											<div class='s-relative'>
												<select id="car" class="m-select" name="name" onchange="check(this)">
													<option value="Ghibli" selected="true">Ghibli</option>
												</select>
												<span class="fa fa-caret-down"></span>
											</div>
										</div>
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Select Body Type <span>*</span></label>
											<div class='s-relative'>
												<select class="m-select" name="type">
													<option>Pickup</option>
													<option>SUV</option>
													<option>Coupe</option>
													<option>Convertible</option>
													<option>Sedan</option>
													<option>Hatchback</option>
												</select>
												<span class="fa fa-caret-down"></span>
											</div>
										</div>
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Vehicle Transmission Type <span>*</span></label>
											<div class='s-relative'>
												<select class="m-select" name="transmission">
													<option>Automatic</option>
													<option>Manual</option>
												</select>
												<span class="fa fa-caret-down"></span>
											</div>
										</div>
										<div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
											<label>Enter Meter Reading<span>*</span></label>
											<div class='s-relative'>
													<input type="text" required="" placeholder="Enter Reading" name="reading" />
										</div></div>
									</div>
								</div>
								<button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!--b-submit-->

<div class="b-features">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-offset-3 col-xs-6 col-xs-offset-6">
						<ul class="b-features__items">
							<li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Low Prices, No Haggling</li>
							<li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Largest Car Dealership</li>
							<li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">24x7 Support</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--b-features-->

	<div class="b-info">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<aside class="b-info__aside wow zoomInLeft" data-wow-delay="0.3s">
							
							<article class="b-info__aside-article">
								<h3>About us</h3>
							<p>Here At ZenCars we treat each customer with great Care . ZenCar Members get exclusive benefit on upcomming cars and other Bundled offers . Members can also list their vehicle in one of the larget online Pre-Owned Car Markets of the world.</p>
							<p>Come, Lets Find your Dream Car</p>
							</article>
							<a href="/about" class="btn m-btn">About us<span class="fa fa-angle-right"></span></a>
						</aside>
					</div>
					<div class="col-md-3 col-xs-6">
						
					</div>
					<div class="col-md-3 col-xs-6">
						
					</div>
					<div class="col-md-3 col-xs-6">
						<address class="b-info__contacts wow zoomInUp" data-wow-delay="0.3s">
							<p>contact us</p>
							<div class="b-info__contacts-item">
								<span class="fa fa-map-marker"></span>
								<em>College of Engineering Chengannur</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-phone"></span>
								<em>Phone:  +91 9562854642</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-fax"></span>
								<em>FAX:  +91 9730763376</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-envelope"></span>
								<em>Email:  vigneshhari@ieee.org</em>
							</div>
						</address>
						<address class="b-info__map">
							<a href="/contact">Contact Us</a>
						</address>
					</div>
				</div>
			</div>
		</div><!--b-info-->

		<footer class="b-footer">
			<a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<div class="b-footer__company wow fadeInLeft" data-wow-delay="0.3s">
							<div class="b-nav__logo">
								<h3><a href="home.html">Zen<span>Cars</span></a></h3>
							</div>
							<p>&copy; Design By Zen tech &amp; Powered by Django.</p>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="b-footer__content wow fadeInRight" data-wow-delay="0.3s">
							<div class="b-footer__content-social">
								<a href="#"><span class="fa fa-facebook-square"></span></a>
								<a href="#"><span class="fa fa-twitter-square"></span></a>
								<a href="#"><span class="fa fa-google-plus-square"></span></a>
								<a href="#"><span class="fa fa-instagram"></span></a>
								<a href="#"><span class="fa fa-youtube-square"></span></a>
								<a href="#"><span class="fa fa-skype"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!--b-footer-->
		<!--Main-->   
		<script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
		<script src="{% static 'js/jquery-ui.min.js'%}"></script>
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
		<script src="{% static 'js/modernizr.custom.js'%}"></script>

		<script src="{% static 'assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js'%}"></script>
		<script src="{% static 'js/waypoints.min.js'%}"></script>
		<script src="{% static 'js/jquery.easypiechart.min.js'%}"></script>
		<script src="{% static 'js/classie.js'%}"></script>

		<!--Switcher-->
		<script src="{% static 'assets/switcher/js/switcher.js'%}"></script>
		<!--Owl Carousel-->
		<script src="{% static 'assets/owl-carousel/owl.carousel.min.js'%}"></script>
		<!--bxSlider-->
		<script src="{% static 'assets/bxslider/jquery.bxslider.js'%}"></script>
		<!-- jQuery UI Slider -->
		<script src="{% static 'assets/slider/jquery.ui-slider.js'%}"></script>

		<!--Theme-->
		<script src="{% static 'js/jquery.smooth-scroll.js'%}"></script>
		<script src="{% static 'js/wow.min.js'%}"></script>
		<script src="{% static 'js/jquery.placeholder.min.js'%}"></script>
		<script src="{% static 'js/theme.js'%}"></script>

	</body>
</html>