<!DOCTYPE html>
<html>
	<head>
		{%load static%}
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Zen Cars</title>

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png'%}" />

		<link href="{% static 'css/master.css' %}" rel="stylesheet">

		<!-- SWITCHER -->
		<link rel="stylesheet" id="switcher-css" type="text/css" href="{%static 'assets/switcher/css/switcher.css' %}" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color1.css' %}" title="color1" media="all" data-default-color="true" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color2.css' %}" title="color2" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color3.css'%}" title="color3" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color4.css'%}" title="color4" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color5.css'%}" title="color5" media="all" />
		<link rel="alternate stylesheet" type="text/css" href="{%static 'assets/switcher/css/color6.css'%}" title="color6" media="all" />


		<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body class="m-detail" data-scrolling-animations="true" data-equal-height=".b-auto__main-item">

		<!-- Loader -->
		<div id="page-preloader"><span class="spinner"></span></div>
		<!-- Loader end -->
		<!-- Start Switcher -->
		<div class="switcher-wrapper">	
			<div class="demo_changer">
				<div class="demo-icon customBgColor"><i class="fa fa-cog fa-spin fa-2x"></i></div>
				<div class="form_holder">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="predefined_styles">
								<div class="skin-theme-switcher">
									<h4>Color</h4>
									<a href="#" data-switchcolor="color1" class="styleswitch" style="background-color:#f76d2b;"> </a>
									<a href="#" data-switchcolor="color2" class="styleswitch" style="background-color:#de483d;"> </a>
									<a href="#" data-switchcolor="color3" class="styleswitch" style="background-color:#228dcb;"> </a>
									<a href="#" data-switchcolor="color4" class="styleswitch" style="background-color:#00bff3;"> </a>
									<a href="#" data-switchcolor="color5" class="styleswitch" style="background-color:#2dcc70;"> </a>
									<a href="#" data-switchcolor="color6" class="styleswitch" style="background-color:#6054c2;"> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Switcher -->
		<section class="b-modal">
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Video</h4>
						</div>
						<div class="modal-body">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/a_ugz7GoHwY" allowfullscreen></iframe>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</section><!--b-modal-->


		<header class="b-topBar wow slideInDown" data-wow-delay="0.7s">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="b-topBar__addr">
							<span class="fa fa-map-marker"></span>
							College Of Engineering Chengannur
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="b-topBar__tel">
							<span class="fa fa-phone"></span>
							+91 9562854642
						</div>
					</div>
					<div class="col-md-4 col-xs-6">
						<nav class="b-topBar__nav">
							<ul>
								{%if username == null%}
								<li><a href="#" style ="color:black" data-toggle="modal" data-target="#myModal1" id="signin_top">SIGN IN</a></li>
								<li><a href="#" style ="color:black" data-toggle="modal" data-target="#myModal2" id="register_top">REGISTER</a></li>		
								<li><a href="#" style ="visibility: hidden;" data-toggle="modal" data-target="#myModal3" id="forgot_top"></a></li>		
								<li><a href="#" style ="visibility: hidden;" data-toggle="modal" data-target="#myModal4" id="change_top"></a></li>		
								{%endif%}
								{%if username != null%}
								<li><a href="/auth/logout" style ="color:black">Logout</a></li>
								<li><a href="#" style ="color:black">Welcome Back {{username}}</a></li>
								{%endif%}
							</ul>
						</nav>
					</div>	
				</div>
			</div>
		</header><!--b-topBar--><!--b-topBar-->

				<nav class="b-nav">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-4">
						<div class="b-nav__logo wow slideInLeft" data-wow-delay="0.3s">
							<h3><a href="/home">Zen<span>Cars</span></a></h3>
							<h2><a href="/home">&nbsp Find Your Dream</a></h2>
						</div>
					</div>
					<div class="col-sm-9 col-xs-8">
						<div class="b-nav__list wow slideInRight" data-wow-delay="0.3s">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse navbar-main-slide" id="nav">
								<ul class="navbar-nav-menu">
									<li><a href="compare.html">Home</a></li>
									{%if username != null%}
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle='dropdown' href="#">Account<span class="fa fa-caret-down"></span></a>
										<ul class="dropdown-menu h-nav">
											<li><a href="/auth/details">Details</a></li>
											<li><a href="/auth/view?type=sell">View Listed Cars</a></li>
											<li><a href="/auth/view?type=sold">View Sold Cars</a></li>
											<li><a href="/car/add">Add Car</a></li>
										</ul>
									</li>
									{%endif%}
									<li><a href="about.html">Blog</a></li>
									<li><a href="about.html">About</a></li>
									<li><a href="contacts.html">Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav><!--b-nav-->

		<section class="b-pageHeader">
			<div class="container">
				<h1 class="wow zoomInLeft" data-wow-delay="0.5s">Vehicle Details Page</h1>
			</div>
		</section><!--b-pageHeader-->

		<div class="b-breadCumbs s-shadow wow zoomInUp" data-wow-delay="0.5s">
			<div class="container">
				<a href="/home" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a href="#" class="b-breadCumbs__page">{{brand}}</a><span class="fa fa-angle-right"></span><a href="#" class="b-breadCumbs__page">{{name}}</a>
			</div>
		</div><!--b-breadCumbs-->

		<div class="b-infoBar">
			<div class="container">
				<div class="row wow zoomInUp" data-wow-delay="0.5s">
					<div class="col-xs-3">
						<div class="b-infoBar__premium">New Car</div>
					</div>
					<div class="col-xs-9">
						<div class="b-infoBar__btns">
							<a href="#" class="btn m-btn m-infoBtn">PRINT THIS PAGE<span class="fa fa-angle-right"></span></a>
							<a href="{{compare}}" class="btn m-btn m-infoBtn">Add to compare<span class="fa fa-angle-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div><!--b-infoBar-->

		<section class="b-detail s-shadow">
			<div class="container">
				<header class="b-detail__head s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
					<div class="row">
						<div class="col-sm-9 col-xs-12">
							<div class="b-detail__head-title">
								<h1>{{name}}</h1>
								<h3>2016 model</h3>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12">
							<div class="b-detail__head-price">
								<div class="b-detail__head-price-num">{{price}} Rs</div>
								<p>Ex Showroom Price Alappuzha</p>
							</div>
						</div>
					</div>
				</header>
				<div class="b-detail__main">
					<div class="row">
						<div class="col-md-8 col-xs-12">
							<div class="b-detail__main-info">
								<div class="b-detail__main-info-images wow zoomInUp" data-wow-delay="0.5s">
									<div class="row m-smallPadding">
										<div class="col-xs-10">
											<ul class="b-detail__main-info-images-big bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="horizontal" data-pager-slide="true" data-mode-pager="vertical" data-pager-qty="5">
												{%for e in picture%}
												<li class="s-relative">                                        
													<a data-toggle="modal" data-target="#myModal" href="#" class="b-items__cars-one-img-video"><span class="fa fa-film"></span>VIDEO</a>
													<img class="img-responsive center-block" src="{{e.link}}" alt="nissan" />
												</li>
												{%endfor%}
											</ul>
										</div>
										<div class="col-xs-2 pagerSlider pagerVertical">
											<div class="b-detail__main-info-images-small" id="bx-pager">
												{%for e in picture%}
												<a href="#" data-slide-index="{{e.no}}" class="b-detail__main-info-images-small-one">
													<img class="img-responsive" src="{{e.link}}" alt="nissan" />
												</a>
												{%endfor%}
												
											</div>
										</div>
									</div>
								</div>

								<div class="b-detail__main-info-characteristics wow zoomInUp" data-wow-delay="0.5s">
									<div class="b-detail__main-info-characteristics-one">
										<div class="b-detail__main-info-characteristics-one-top">
											<div><span class="fa fa-car"></span></div>
											<p>Brand New</p>
										</div>
										<div class="b-detail__main-info-characteristics-one-bottom">
											Status
										</div>
									</div>
									<div class="b-detail__main-info-characteristics-one">
										<div class="b-detail__main-info-characteristics-one-top">
											<div><span class="fa fa-trophy"></span></div>
											<p>5,000KM</p>
										</div>
										<div class="b-detail__main-info-characteristics-one-bottom">
											Warrenty
										</div>
									</div>
									<div class="b-detail__main-info-characteristics-one">
										<div class="b-detail__main-info-characteristics-one-top">
											<div><span class="fa fa-at"></span></div>
											<p>{{type}}</p>
										</div>
										<div class="b-detail__main-info-characteristics-one-bottom">
											Body Type
										</div>
									</div>
									<div class="b-detail__main-info-characteristics-one">
										<div class="b-detail__main-info-characteristics-one-top">
											<div><span class="fa fa-car"></span></div>
											<p>{{dname}}</p>
										</div>
										<div class="b-detail__main-info-characteristics-one-bottom">
											Dealer
										</div>
									</div>
									<div class="b-detail__main-info-characteristics-one">
										<div class="b-detail__main-info-characteristics-one-top">
											<div><span class="fa fa-fighter-jet"></span></div>
											<p>{{cc}}</p>
										</div>
										<div class="b-detail__main-info-characteristics-one-bottom">
											Engine Disp(cc)										</div>
									</div>
									<div class="b-detail__main-info-characteristics-one">
										<div class="b-detail__main-info-characteristics-one-top">
											<div><span class="fa fa-road" ></span></div>
											<p>{{city}}</p>
										</div>
										<div class="b-detail__main-info-characteristics-one-bottom">
											In City
										</div>
									</div>
									<div class="b-detail__main-info-characteristics-one">
										<div class="b-detail__main-info-characteristics-one-top">
											<div><span class="fa fa-road" ></span></div>
											<p>{{highway}}</p>
										</div>
										<div class="b-detail__main-info-characteristics-one-bottom">
											On Highway
										</div>
									</div>
								</div>
								<div class="b-detail__main-info-text wow zoomInUp" data-wow-delay="0.5s">
									<div class="b-detail__main-aside-about-form-links">
										<a href="#" class="j-tab m-active s-lineDownCenter" data-to='#info1'>GENERAL INQUIRY</a>
										<a href="#" class="j-tab" data-to='#info2'>Varients</a>
									</div>
									<div id="info1">
										{{content | linebreaks}}
									</div>
									<div id="info2">
										


										<div class="b-compare__block wow zoomInUp" data-wow-delay="0.3s">
					<div class="b-compare__block-title s-whiteShadow">
						<h3 class="s-titleDet">Specifications</h3>
						<a class="j-more" href="#"><span class="fa fa-angle-left"></span></a>
					</div>
					<div class="b-compare__block-inside j-inside">
						<div class="row">
							<div class="col-xs-3">
								<div class="b-compare__block-inside-title">
									
								</div>
							</div>
							<div class="col-xs-3">
								<div class="b-compare__block-inside-value">
									
								</div>
							</div>
							<div class="col-xs-3">
								<div class="b-compare__block-inside-value">
									
								</div>
							</div>
							<div class="col-xs-3">
								<div class="b-compare__block-inside-value">
									
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
									</div>
							</div>
									<br>
								&nbsp
								<br>

								<div class="b-article__main-comments">
								<div class=" wow zoomInUp" data-wow-delay="0.5s">
								{%if revlen == 0%}
								<div class="s-lineDownLeft  s-titleLeft">
										<h2 class="s-titleDet">No Comments Avaliable. Be The First To Comment</h2>
									</div>
								{%else%}
								<div class="s-lineDownLeft  s-titleLeft">
										<h2 class="s-titleDet">COMMENTS</h2>
									</div>
								{%endif%}
								</div>
								<div class="clearfix"></div>
								<div class="row">
									
								{%for e in rev%}
									<div class="col-xs-12">
										<div class="b-article__main-comments-one wow zoomInUp" data-wow-delay="0.5s">
											<div class="b-article__main-comments-one-person">
											  <img src="{{e.photo.url}}" class="img-responsive img-thumbnail" style ="max-height:125px;width: 80px;height: auto;"  alt="{{username}}" width="304" height="236"> 						
											 </div>
											<div class="b-article__main-comments-one-text">
												<header class="b-article__main-comments-one-text-head">
													<h6>{{e.name}}</h6>
												</header>
												<p>
													{{e.content}}
												</p>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							
							{% if user_id > 0 %}
							<div class="b-article__main-add wow zoomInUp" data-wow-delay="0.5s">
								<div class="s-lineDownLeft  s-titleLeft">
									<div>
										<h2 class="s-titleDet">COMMENT AS {{username}}</h2>
									</div>
								</div>

									<div class="row">
									<form action="/car/comm" method="POST" id="comm">
										
									<textarea name="text" style="color: black" id="comm" placeholder="MESSAGE"></textarea>
																		{%csrf_token%}
									 <input type="hidden" name="user" value="{{user_id}}">
									  <input type="hidden" name="car" value="{{car_id}}">
									   <input type="hidden" name="type" value="{{status}}">
									<button type="submit" class="btn m-btn" >SEND COMMENT<span class="fa fa-angle-right"></span></button>
								</form>
							</div>
							</div>
							{%else%}
							<div class="b-article__main-add wow zoomInUp" data-wow-delay="0.5s">
								<div class="s-lineDownLeft  s-titleLeft">
									<div>
										<h2 class="s-titleDet">Please Login To Post Comments</h2>
									</div>
								</div>					
							</div>
							{%endif%}


							</div>
						</div>
						<div class="col-md-4 col-xs-12">
							<aside class="b-detail__main-aside">
								<div class="b-detail__main-aside-desc wow zoomInUp" data-wow-delay="0.5s">
									
								{%for e in spec %}
									{% if e.val == "HEADING" %}
									<h2 class="s-titleDet">{{val}}</h2>
									{%else%}
									<div class="row">
										<div class="col-xs-6">
											<h4 class="b-detail__main-aside-desc-title">{{e.ind}}</h4>
										</div>
										<div class="col-xs-6">
											<p class="b-detail__main-aside-desc-value">{{e.val}}</p>
										</div>
									</div>
									{%endif%}
								{%endfor%}
								</div>
								<div class="b-detail__main-aside-about wow zoomInUp" data-wow-delay="0.5s">
									<h2 class="s-titleDet">INQUIRE ABOUT THIS VEHICLE</h2>
									<div class="b-detail__main-aside-about-call">
										<span class="fa fa-phone"></span>
										<div>1-888-378-4027</div>
										<p>Call the seller 24/7 and they would help you.</p>
									</div>
									<div class="b-detail__main-aside-about-seller">
										<p>Seller Info: <span>NissanCarDealer</span></p>
									</div>
									<div class="b-detail__main-aside-about-form">
										<div class="b-detail__main-aside-about-form-links">
											<a href="#" class="j-tab m-active s-lineDownCenter" data-to='#form1'>GENERAL INQUIRY</a>
											<a href="#" class="j-tab" data-to='#form2'>SCHEDULE TEST DRIVE</a>
										</div>
										<form id="form1" action="/" method="post">
											<input type="text" placeholder="YOUR NAME" value="" name="name" />
											<input type="email" placeholder="EMAIL ADDRESS" value="" name="email" />
											<input type="tel" placeholder="PHONE NO." value="" name="name" />
											<textarea name="text" placeholder="message"></textarea>
											<div><input type="checkbox" name="one" value="" /><label>Send me a copy of this message</label></div>
											<div><input type="checkbox" name="two" value="" /><label>Send me a copy of this message</label></div>
											<button type="submit" class="btn m-btn">SEND MESSAGE<span class="fa fa-angle-right"></span></button>
										</form>
										<form id="form2" action="/" method="post">
											<input type="text" placeholder="YOUR NAME" value="" name="name" />
											<textarea name="text" placeholder="message"></textarea>
											<div><input type="checkbox" name="one" value="" /><label>Send me a copy of this message</label></div>
											<div><input type="checkbox" name="two" value="" /><label>Send me a copy of this message</label></div>
											<button type="submit" class="btn m-btn">SEND MESSAGE<span class="fa fa-angle-right"></span></button>
										</form>
									</div>
								</div>
								<div class="b-detail__main-aside-payment wow zoomInUp" data-wow-delay="0.5s">
									<h2 class="s-titleDet">CAR PAYMENT CALCULATOR</h2>
									<div class="b-detail__main-aside-payment-form">
										<form action="/" method="post">
											<input type="text" placeholder="TOTAL VALUE/LOAN AMOUNT" value="" name="name" />
											<input type="text" placeholder="DOWN PAYMENT" value="" name="name" />
											<div class="s-relative">
												<select name="select" class="m-select">
													<option value="">LOAN TERM IN MONTHS</option>
												</select>
												<span class="fa fa-caret-down"></span>
											</div>
											<input type="text" placeholder="INTEREST RATE IN %" value="" name="name" />
											<button type="submit" class="btn m-btn">ESTIMATE PAYMENT<span class="fa fa-angle-right"></span></button>
										</form>
									</div>
									<div class="b-detail__main-aside-about-call">
										<span class="fa fa-calculator"></span>
										<div>$250 <p>PER MONTH</p></div>
										<p>Total Number of Payments: <span>50</span></p>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</section><!--b-detail-->


	<div class="b-info">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<aside class="b-info__aside wow zoomInLeft" data-wow-delay="0.3s">
							
							<article class="b-info__aside-article">
								<h3>About us</h3>
							<p>Here At ZenCars we treat each customer with great Care . ZenCar Members get exclusive benefit on upcomming cars and other Bundled offers . Members can also list their vehicle in one of the larget online Pre-Owned Car Markets of the world.</p>
							<p>Come, Lets Find your Dream Car</p>
							</article>
							<a href="/about" class="btn m-btn">About us<span class="fa fa-angle-right"></span></a>
						</aside>
					</div>
					<div class="col-md-3 col-xs-6">
						
					</div>
					<div class="col-md-3 col-xs-6">
						
					</div>
					<div class="col-md-3 col-xs-6">
						<address class="b-info__contacts wow zoomInUp" data-wow-delay="0.3s">
							<p>contact us</p>
							<div class="b-info__contacts-item">
								<span class="fa fa-map-marker"></span>
								<em>College of Engineering Chengannur</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-phone"></span>
								<em>Phone:  +91 9562854642</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-fax"></span>
								<em>FAX:  +91 9730763376</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-envelope"></span>
								<em>Email:  vigneshhari@ieee.org</em>
							</div>
						</address>
						<address class="b-info__map">
							<a href="/contact">Contact Us</a>
						</address>
					</div>
				</div>
			</div>
		</div><!--b-info-->

		<footer class="b-footer">
			<a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<div class="b-footer__company wow fadeInLeft" data-wow-delay="0.3s">
							<div class="b-nav__logo">
								<h3><a href="home.html">Zen<span>Cars</span></a></h3>
							</div>
							<p>&copy; Design By Zen tech &amp; Powered by Django.</p>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="b-footer__content wow fadeInRight" data-wow-delay="0.3s">
							<div class="b-footer__content-social">
								<a href="#"><span class="fa fa-facebook-square"></span></a>
								<a href="#"><span class="fa fa-twitter-square"></span></a>
								<a href="#"><span class="fa fa-google-plus-square"></span></a>
								<a href="#"><span class="fa fa-instagram"></span></a>
								<a href="#"><span class="fa fa-youtube-square"></span></a>
								<a href="#"><span class="fa fa-skype"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!--b-footer-->
		<!--Main-->   
		<script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
		<script src="{% static 'js/jquery-ui.min.js'%}"></script>
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
		<script src="{% static 'js/modernizr.custom.js'%}"></script>

		<script src="{% static 'assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js'%}"></script>
		<script src="{% static 'js/waypoints.min.js'%}"></script>
		<script src="{% static 'js/jquery.easypiechart.min.js'%}"></script>
		<script src="{% static 'js/classie.js'%}"></script>

		<!--Switcher-->
		<script src="{% static 'assets/switcher/js/switcher.js'%}"></script>
		<!--Owl Carousel-->
		<script src="{% static 'assets/owl-carousel/owl.carousel.min.js'%}"></script>
		<!--bxSlider-->
		<script src="{% static 'assets/bxslider/jquery.bxslider.js'%}"></script>
		<!-- jQuery UI Slider -->
		<script src="{% static 'assets/slider/jquery.ui-slider.js'%}"></script>

		<!--Theme-->
		<script src="{% static 'js/jquery.smooth-scroll.js'%}"></script>
		<script src="{% static 'js/wow.min.js'%}"></script>
		<script src="{% static 'js/jquery.placeholder.min.js'%}"></script>
		<script src="{% static 'js/theme.js'%}"></script>

	</body>
</html>